<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Awoii Bob Willy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
  <script src = "http://cdn.tailwincss.com"></script>
</head>
<body>
  <div class = "w-screen h-screen flex">
    <nav class="p-4 flex gap-2 items-center bg-black text-white justify-end">
      <a class="" href="/">Home</a>
      <a class="" href="/secondlanding">General Page</a>
      <a class="" href="/adminsignin">Administrator</a>
      <a class="" href="/cashiersignin">Cashier</a>
      <a class="" href="/adminsecsignin">Administrative Secretary</a>
      <a class="" href="/usercreation">Employee Registration</a>
      <a class="" href="/babyregistration">Baby Registration</a>
    </nav>
    <div> 
    <h1>Hello, world!</h1>
</body>
</html>